#tekst{
  background-color: #388CA1;
  color: lightgrey;
  border-radius: 5px;
  margin-left: 100px;
  margin-right: 100px;
  height: 2000px;
  padding-left: 5px;
  padding-right: 5px;
}
.achterdecamera{
  background-color: #388CA1;
  border-radius: 5px;
  border: 7px solid #388CA1;
  float: right;
  margin-right: 75px;
}
.image{
  height: 250px;
  display: inline;
}
#images{
  padding-left: 5px;
}
#copyright{
  float: right;
}

input, textarea{
  border-radius: 5px;
}
.tekst{
  float: left;
  width: 25%;
  margin-top: 6px;
}
.invul{
  float: left;
  width: 75%;
  margin-top: 6px;
}
.submit{
  background-color: teal;
  color: lightgrey;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 3px 8px;
  text-align: center;
  font-size: 18px;
}
.submit:active{
  background-color: lightgrey;
  border-color: teal;
  color: black;
}
form{
  background-color: #388CA1;
  border-radius: 5px;
  border: 7px solid #388CA1;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  height: 600px;
  font-size: 15px;
  color: lightgrey;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
