#cv{
  background-color: #388CA1;
  color: lightgrey;
  border-radius: 5px;
  margin-left: 100px;
  margin-right: 100px;
  height: 1800px;
}
td, th{
  padding: 5px 140px 0px 10px;
}
th{
  border-bottom: solid;
}
h1, h2{
  padding-left: 5px;
}
